/* line 1, /Users/koscim/podcast-app/app/assets/stylesheets/app.scss */
.ProgressBar,
.VolumeSlider {
  position: relative;
  background: #eee;
  border-radius: 4px;
}
/* line 7, /Users/koscim/podcast-app/app/assets/stylesheets/app.scss */
.ProgressBar-elapsed, .ProgressBar-value,
.VolumeSlider-elapsed,
.VolumeSlider-value {
  background: green;
  border-radius: 4px;
}
/* line 14, /Users/koscim/podcast-app/app/assets/stylesheets/app.scss */
.ProgressBar-seek,
.VolumeSlider-seek {
  position: absolute;
  cursor: pointer;
}
/* line 19, /Users/koscim/podcast-app/app/assets/stylesheets/app.scss */
.ProgressBar-handle,
.VolumeSlider-handle {
  position: absolute;
  width: 16px;
  height: 16px;
  background: green;
  border-radius: 100%;
  transform: scale(0);
  transition: transform 0.2s;
}
/* line 32, /Users/koscim/podcast-app/app/assets/stylesheets/app.scss */
.ProgressBar.isSeekable:hover .ProgressBar-handle,
.ProgressBar.isSeekable:hover .VolumeSlider-handle, .ProgressBar.isEnabled:hover .ProgressBar-handle,
.ProgressBar.isEnabled:hover .VolumeSlider-handle,
.VolumeSlider.isSeekable:hover .ProgressBar-handle,
.VolumeSlider.isSeekable:hover .VolumeSlider-handle,
.VolumeSlider.isEnabled:hover .ProgressBar-handle,
.VolumeSlider.isEnabled:hover .VolumeSlider-handle {
  transform: scale(1);
}
/* line 37, /Users/koscim/podcast-app/app/assets/stylesheets/app.scss */
.ProgressBar.isSeekable:hover .ProgressBar-intent,
.ProgressBar.isSeekable:hover .VolumeSlider-intent, .ProgressBar.isEnabled:hover .ProgressBar-intent,
.ProgressBar.isEnabled:hover .VolumeSlider-intent,
.VolumeSlider.isSeekable:hover .ProgressBar-intent,
.VolumeSlider.isSeekable:hover .VolumeSlider-intent,
.VolumeSlider.isEnabled:hover .ProgressBar-intent,
.VolumeSlider.isEnabled:hover .VolumeSlider-intent {
  position: absolute;
  background: rgba(0, 0, 0, 0.05);
}
/* line 44, /Users/koscim/podcast-app/app/assets/stylesheets/app.scss */
.ProgressBar.isSeekable .ProgressBar-elapsed,
.ProgressBar.isSeekable .VolumeSlider-value, .ProgressBar.isEnabled .ProgressBar-elapsed,
.ProgressBar.isEnabled .VolumeSlider-value,
.VolumeSlider.isSeekable .ProgressBar-elapsed,
.VolumeSlider.isSeekable .VolumeSlider-value,
.VolumeSlider.isEnabled .ProgressBar-elapsed,
.VolumeSlider.isEnabled .VolumeSlider-value {
  background: green;
}

/* line 51, /Users/koscim/podcast-app/app/assets/stylesheets/app.scss */
.ProgressBar {
  height: 8px;
  margin: 10px 0;
}
/* line 55, /Users/koscim/podcast-app/app/assets/stylesheets/app.scss */
.ProgressBar-elapsed {
  height: 100%;
}
/* line 59, /Users/koscim/podcast-app/app/assets/stylesheets/app.scss */
.ProgressBar-seek {
  top: -6px;
  right: 0;
  bottom: -6px;
  left: 0;
}
/* line 66, /Users/koscim/podcast-app/app/assets/stylesheets/app.scss */
.ProgressBar-handle {
  top: 0;
  margin: -4px 0 0 -8px;
}
/* line 73, /Users/koscim/podcast-app/app/assets/stylesheets/app.scss */
.ProgressBar.isSeekable:hover .ProgressBar-handle {
  transform: scale(1);
}
/* line 77, /Users/koscim/podcast-app/app/assets/stylesheets/app.scss */
.ProgressBar.isSeekable:hover .ProgressBar-intent {
  top: 0;
  left: 0;
  height: 100%;
}
/* line 85, /Users/koscim/podcast-app/app/assets/stylesheets/app.scss */
.ProgressBar.isLoading {
  opacity: 0.5;
  background: #ccc;
  animation: barLoading 2s infinite;
}

/* line 92, /Users/koscim/podcast-app/app/assets/stylesheets/app.scss */
.VolumeSlider {
  width: 8px;
  height: 100px;
}
/* line 97, /Users/koscim/podcast-app/app/assets/stylesheets/app.scss */
.VolumeSlider-value {
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* line 103, /Users/koscim/podcast-app/app/assets/stylesheets/app.scss */
.VolumeSlider-seek {
  left: -6px;
  top: 0;
  right: -6px;
  bottom: 0;
}
/* line 110, /Users/koscim/podcast-app/app/assets/stylesheets/app.scss */
.VolumeSlider-handle {
  left: 0;
  margin: 0 0 -8px -4px;
}
/* line 117, /Users/koscim/podcast-app/app/assets/stylesheets/app.scss */
.VolumeSlider.isEnabled:hover .VolumeSlider-handle {
  transform: scale(1);
}
/* line 121, /Users/koscim/podcast-app/app/assets/stylesheets/app.scss */
.VolumeSlider.isEnabled:hover .VolumeSlider-intent {
  bottom: 0;
  left: 0;
  width: 100%;
}
