/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Forum');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

 /*body {*/
   /*background-image: url('/images/stardust.png');*/
   /*color: #CCCCCC;*/
   /*color: #FFFFFF;*/
   /*background: #d0dcc4;*/
   /*background: #ea5a64;*/


   /*background: #394675;*/
   /*background: #86918F;*/

   /*background: #e86d75;*/
   /*font-family: 'Forum', cursive;*/
   /*font-family: 'Merriweather', serif;*/
   /*font-size: 20px;*/
   /*margin: 0 auto;*/
 /*}*/

 div {
   /*background: #218396;
   border-width: 5px;
   border-style: solid;
   border-color: #29b2bd;
   border-radius: 25px;
   padding: 20px;
   margin: 5px;*/


   /*width: 200px;
   height: 150px; */
 }

/*h1, h2, h3, h4 {*/
  /*color: #ede9e6;*/
  /*color: #f2c295;*/
  /*font-family: 'Quicksand', sans-serif;*/
  /*font-family: 'Merriweather', serif;*/
  /*font-weight: bold;*/
  /*margin: 10px;*/
  /*color: #ea5a64;*/
/*}*/

a,
a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

.link {
  display: inline-block;
  margin-left: 1em;
}

.top-bar-section {
  display: inline-block;
  float: right;
  padding: 10px 10px 0px 0px;
  /*margin-top: 5px;*/
}

.top-bar-title {
  padding: 5px 5px 0px 10px;
  display: inline-block;
  float: left;
  margin-top: -10px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.top-bar {
  background-color: #3C3C3C;
  padding: 10px 0;
  border-bottom: 2px #FFFFFF solid;
  display: inline-block;
  min-width: 100%;
}

.bottom-bar {
  background-color: #3C3C3C;
  padding: 25px;
  border-top: 2px #FFFFFF solid;
}

.bottom-bar-section {
  display: inline-block;
  float: right;
}

.title {
  background: #3C3C3C;
  border-width: 2px;
  border-style: solid;
  border-color: #FFFFFF;
  border-radius: 10px;
  padding-left: 10px;
  margin: 12px;
  /*background: #FFFFFF;*/
}

.tile {
  background: #5D5D5D;
  /*background: #218396;*/
  border-width: 5px;
  border-style: solid;
  border-color: #FFFFFF;
  /*border-color: #29b2bd;*/
  border-radius: 25px;
  border-width: 2px;
  padding: 20px;
  margin: 5px auto;
  /*margin: 5px;*/
  transition: .2s;
}

.tile:hover {
  background: #3C3C3C;
}

/*.container {
  background: #218396;
  border-width: 5px;
  border-style: solid;
  border-color: #29b2bd;
  border-radius: 25px;
  padding: 20px;
  margin: 20px;
}*/

.podcast-tile {
  /*background: #218396;*/
  font-family: 'Merriweather', serif;
  /*background-color: #3C3C3C;*/
  background-color: #ea5a64;
  border-width: 2px;
  border-style: solid;
  border-color: #FFFFFF;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

.category-tile {
  /*background: #218396;*/
  background-color: #3C3C3C;
  border-width: 2px;
  border-style: solid;
  border-color: #FFFFFF;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  transition: .2s;
}

.category-tile:hover {
  background-color: #848484;
  background: #ea5a64;
}

.podcast-tile:hover {
  cursor: pointer;
  background: #3C3C3C;
}

.player-container {
  background: #30303a;
  border-width: 1.5px;
  border-style: solid;
  border-color: #990000;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.player-button{

}

/*.link {
  padding: 5px;*/
  /*border:1px solid black;*/
  /*border: 2px solid #3CC7FD;
  border-radius:8px;
  background-color: #073165;
  background-color: -webkit-linear-gradient(left top, #073165, #001439);
  background: -o-linear-gradient(bottom right, #073165, #001439);
  background: -moz-linear-gradient(bottom right, #073165, #001439);
  background: linear-gradient(to bottom right, #073165, #001439); */
  /*background-color: #494949;*/
  /*background:-webkit-linear-gradient(top,  #494949 0%,#707070 100%);*/
  /*z-index:2;
}*/

.link:hover {
  background-color: #707070;
  border-bottom-color: #F5FEFF;
  /*box-shadow: 0 0 10px #F5FEFF;*/
  /*box-shadow: 0 4px 2px -2px #F5FEFF;*/
}

.player-wrapper {
  width: 100%;
  height: 100px;
  background-color: black;
  border: 1px solid grey;
  border-radius: 8px;
}

.react-player {
  margin-bottom: 10px;
  background: rgba(#000, .1);
}

.circle {
  border-radius: 50%;
  background-color: #707070;
  color: black;
}

.hide {
  opacity: 0;
  display: none;
}

table {
  display: block;
  border: 1px solid grey;
  border-radius: 8px;
  background-color: #36363B;
  width: 100%;
}

.none {
  display: none;
}

th {
  margin: 2px;
}

td {
  padding: 2px;
  text-align: center;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content Link {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.bevelBox
{
  background-color: #3C3C3C;

  border: 1px solid #000000;

  -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
  -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
}

/*.myProgress {
    width: 100%;
    background-color: grey;
}
.myBar {
    width: 1%;
    height: 30px;
    background-color: green;
}

.progress {
  height: 30px;
  width: 100%;
}*/


.progress-bar {
  width: 100%;
}

.progress-bar input {
  width: 100%;
}

.volume-bar {
  width: 40px;
}

.volume-bar input {
  width: 80px;
  margin: 25px;
}

.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }

.card {
  position: relative;
  padding-bottom: 25%;
  text-align: center;
  background-color: #3C3C3C
}

.card__front,
.card__back {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.7s;
          transition: transform 0.7s;
}

.card__front {
  /*background-color: #3C3C3C;*/
  /*background: #218396;*/
  /*background: #ea5a64;*/
}

.card__back {
  background-color: #1e1e1e;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card.effect__hover:hover .card__front {
  /*background: #ea5a64;*/
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card.effect__hover:hover .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.hidden {
  /*transition: opacity 1s ease-out;*/
  display: none;
  opacity: 0;
  /*opacity: 0;
  height: 0;
  overflow: hidden;*/
}

.shown {
  /*opacity: 1;
  height: auto;*/
  display: block;
  opacity: 1;
  -webkit-animation: display-none-transition 1.5s both;
  animation: display-none-transition 1.5s both;
}

@-webkit-keyframes display-none-transition {
  0% {
    opacity: 0;
  }
}

@keyframes display-none-transition {
  0% {
    opacity: 0;
  }
}

@media (min-width: 400px) {
  .form-tile {
    max-width: 75%;
    /*background-color: blue;*/
    padding: 20px;
    background-color: #218396;
    border-width: 5px;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 25px;
  }
  .small-letters {
    font-size: 36px;
  }
}

@media (min-width: 550px) {
  .form-tile {
    max-width: 75%;
    /*background-color: blue;*/
    padding: 20px;
    background-color: #218396;
    border-width: 5px;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 25px;
  }
  .small-letters {
    font-size: 14px;
  }
}

@media (min-width: 700px) {
  .form-tile {
    max-width: 75%;
    /*background-color: blue;*/
    padding: 20px;
    background-color: #218396;
    border-width: 5px;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 25px;
  }
  .small-letters {
    font-size: 18px;
  }
}

/*.form-tile {
  max-width: 75%;
  background-color: blue;
  padding: 20px;
}*/

/*.form-input {
  width: 100%;
}*/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.homepage {
  /*background: #394675;*/
  background: #00002C;
  /*background: #2A2F51;*/
  padding: 20px;
  opacity: 0.9;
  height: 100vh;
  -webkit-animation: fadein 3s;
  -moz-animation: fadein 3s;
  -ms-animation: fadein 3s;
  -o-animation: fadein 3s;
  animation: fadein 3s;
}

.homepage h1 {
  font-size: 20px;
  letter-spacing: 10px;
  margin: 0 auto;
  /*padding: 100px 0 30px 18px;*/
  line-height: 60px;
  text-align: center;
}

.homepage h2 {
  font-size: 18px;
  letter-spacing: 10px;
  margin: 0 auto;
  /*padding: 100px 0 30px 18px;*/
  line-height: 60px;
  text-align: center;
}

.homepage h3 {
  font-size: 16px;
  letter-spacing: 10px;
  margin: 0 auto;
  /*padding: 100px 0 30px 18px;*/
  line-height: 60px;
  text-align: center;
}

.homepage h4 {
  font-size: 14px;
  letter-spacing: 6px;
  margin: 0 auto;
  /*padding: 100px 0 30px 18px;*/
  line-height: 60px;
  text-align: center;
}

.homepage p {
  font-size: 14px;
  letter-spacing: 2px;
  margin: 0 auto;
  /*padding: 100px 0 30px 18px;*/
  line-height: 20px;
  text-align: center;
}

/*.header-title{
  margin: 0 auto;
  text-align: center;
}*/
.spaced{
  letter-spacing: 4px;
}

.podcast-container{
  margin: 0 auto;
}





/*------------------------*/


body {
  font-family: 'Titillium Web', sans-serif;
  font-style: bold;
  font-weight: 300;
  color: #ccc;
  background-color: black;
  margin: 0px auto;
  z-index: -1;
  margin: 30px auto 0 auto;
  padding: 0;
  width: 100%;
  /*background-color: #52527a;*/
  /*background-color: #000033;*/
  /*background-color: #0b0b33;*/
  /*background-color: #171733;*/
  /*background-color: #00002C;*/

  /*background-color: #130749;*/
  background: #000033;

  background: -webkit-linear-gradient(#000033, #00002C); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#000033, #00002C); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#000033, #00002C); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#000033, #00002C); /* Standard syntax */
  /*background-image: url("clouds.jpeg");*/
  /*background-size: 900px;*/
  background-blend-mode: color-burn;
  background-repeat: repeat;
}
/*h1 {
  font-size: 12px;
  letter-spacing: 18px;
  margin: 0 auto;
  padding: 100px 0 30px 18px;
  line-height: 60px;
  text-align: center;
}*/
p {
  font-size: 28px;
  letter-spacing: 2px;
  margin: 0px auto;
  padding: 0;
  width: 50%;
}
/*.menu-container {
  position: fixed;
  height: 30px;
  margin: 0 auto;
  padding: 0;
  background-color: #707070;
  width:100%;
  z-index:99;
  border-bottom:4px solid #5F5F5F;
}
.clear {
  clear: both;
}
.menu {
  display: block;
  float: left;
  position: relative;
  padding: 5px;
  cursor: cell;
}
#main-title-container {
  z-index: -1;
  position: fixed;
  margin: 30px auto 0 auto
  padding: 0;
  width: 100%;
  background-color: #52527a;
  background-image: url("mountain.jpeg");
  background-size: 1500px;
  background-blend-mode: color-burn;
  background-repeat: no-repeat;
  /*height: 100%;*/
  /*height: 656px;
}*/

/*.main-title {
  padding: 5px 0 0 0;
  text-align: center;
  opacity: 1.0;
}
.descriptions {
  position: static;
  text-align: center;
  font-weight: 900;
  opacity: 1.0;
  cursor: cell;
}
.sub-titles {
  position: static;
  text-align: center;
  font-weight: 900;
  opacity: 1.0;
  cursor: cell;
  padding: 40px 0 0 0;
}
.border-underline {
  background-color: #990000;
  width: 225px;
  height: 5px;
  left: 50%;
  margin: 0 auto;
}
.coding-language-container {
  position: relative;
  margin: 0 auto;
}
.coding-languages {
  font-size: 2rem;
  text-align: center;
  margin: 50px;
}
.about-container {
  position: static;
  z-index: 10;
  margin: 70px auto;
  padding: 20px;
  width: 70%;
  background-color: #52527a;
  color: #ccc;*/
  /*background-image: url("mountain.jpeg");*/
  /*background-size: 1500px;
  background-blend-mode: color-burn;
  background-repeat: no-repeat;*/
  /*height: 70%;
}*/



.shown-loader{
  font-size: 50px;
  width: 50%;
  margin: 0 0 2em;
  height: 40px;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

/*
  Set the color of the icon
*/
svg path,
svg rect{
  fill: #FF6700;
}

.centered {
  margin: 0 auto;
  display: block;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 1.5s infinite;
   -moz-animation: flickerAnimation 1.5s infinite;
   -o-animation: flickerAnimation 1.5s infinite;
    animation: flickerAnimation 1.5s infinite;
}

.border-underline {
  background-color: #990000;
  width: 225px;
  height: 5px;
  left: 50%;
  margin: 0 auto;
}

.bold-outline {
  /*color: #43406A;*/
  border-bottom: 2px solid #FFFFFF;
  /*color: #990000;*/
  /*text-shadow:
  -1px -1px 0 #FFFFFF,
  1px -1px 0 #FFFFFF,
  -1px 1px 0 #FFFFFF,
  1px 1px 0 #FFFFFF;*/
}

.mute {
  display: inline-block;
  border-radius: 50%;
}

.inline {
  display: inline-block;
  margin: 0 auto;
  text-align: right;
}
